
@{
    ViewBag.Title = "Классификатор";
    string tableId = "tableClassifier";
}

<h2>Классификатор</h2>

<!-- BEGIN PAGE CONTENT INNER -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Классификатор</span>
                    <span class="caption-helper">управление записями...</span>
                </div>
                <div class="actions">
                    <a href="@Url.Action("Edit","Classifier")" class="btn btn-default btn-circle">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                            Новая запись
                        </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="@tableId">
                        <thead>
                            <tr role="row" class="heading">
                                <th></th>
                                <th>
                                    Наименование
                                </th>
                                <th>
                                    Алиас
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END PAGE CONTENT INNER -->


@section Scripts{
<script src="~/Scripts/CustomScripts/Datatables/Moderator/classifier.js"></script>
}