
@{
    ViewBag.Title = "Банер";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="float:none;">
            <div class="mt-40 mb-20" align="center">
                <h3 class="h3 text-center">Мой баннер</h3>
                <span class="">Отправьте нам заявку на размещение баннера</span>
            </div>

            <div class="panel panel-default wrap-panel">
                <div class="panel-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="name">Ваше имя</label>
                            <input class="form-control" data-val="true" id="name" name="Name" type="text" value="" placeholder="Укажите ваше имя">
                        </div>

                        <div class="form-group">
                            <label for="name">Телефон</label>
                            <input class="form-control" data-val="true" id="name" name="Phone" type="text" value="" placeholder="8-800-555-35-35">
                        </div>

                        <div class="form-group">
                            <label for="name">Пожелания</label>
                            <div>
                                <textarea class="form-control txtarea" placeholder="Опишите пожелание" rows="7" cols="20"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="cp-uploader">
                                <div class="cp-btn-uload">
                                    <label class="" for="upload"><i class="glyphicon glyphicon-picture"></i> Выберите изображение</label>
                                    <input type="file" name="file" id="upload" class="inputfile" multiple />
                                </div>
                                <div class="cp-thumbs" id="cp-thumbs"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="col-xs-3 btn btn-blue transition" id="btn-submit" style="display:block; margin:auto; float:none;">
                                Отправить
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        
        var inp = document.getElementById("upload");
        inp.onchange = function () {
            var thumb = document.getElementById("cp-thumbs");
            clearThumbs(thumb);
            inputImageChangeHandler(inp, thumb);
        }
    });
</script>

<script>
    var inputImageChangeHandler = function (input, thumb) {

        //Указывается формат MIME типов см по ссылке
        //https://developer.mozilla.org/ru/docs/Web/HTTP/Basics_of_HTTP/MIME_types/%D0%9F%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9_%D1%81%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%82%D0%B8%D0%BF%D0%BE%D0%B2_MIME
        var imgType = "/^image\//";
        //создаем переменную в которую прокидывается FileReader.
        var reader;

        if (input.files.length > 4) {
            $('.cp-uploader').css("height","400px");
        }
        if (input.files.length > 8) {
            $('.cp-uploader').css("height", "600px");
        }
        if (input.files.length > 12) {
            $('.cp-uploader').css("height", "800px");
        }
        for (var i = 0; i < input.files.length; i++) {
            reader = new FileReader();
            var file = input.files[i];
            div = document.createElement("div");
            div.className = "ui-thumbs";

            img = document.createElement("img");
            img.className = "ui-thumb";
            img.alt = "image #" + i;
            img.file = file;
           
            if (img.width < img.height) {
                $('.cp-uploader').css("height", "120px");
            }
            
            div.appendChild(img);
            thumb.appendChild(div);
            reader.onload = (function (a) {
                return function (e) { a.src = e.target.result; }
            })(img);

            reader.readAsDataURL(file);
        }
    }

    var clearThumbs = function (node) {
        for (var i = 0; i < node.childNodes.length; i++) {
            old = node.childNodes.item(i);
            node.removeChild(old);
        }

        $('.cp-uploader').css("height", "200px");
    }
</script>