@{
    ViewBag.Title = "Citykam.betta";
}
<style>
    .hr {
        border: none;
        background-color: #e8c3c3;
        height: 1px;
        padding: 0;
        margin: 0;
    }
</style>
<header class="header">
    <div class="h-bg parallax-window" data-parallax="scroll" data-image-src="/Content/citylife_template/images/bridge_min.jpg">
        <h2 class="color-white text-center text-lowercase">@ViewBag.Title</h2>
    </div>
</header>
<div class="container-fluid">
    <div class="col-md-10">
        <div class="row">
            <h3 class="text-normal color-orange">Афиша на ближайшие дни</h3>
            <div class="col-lg-4 col-md-6 pad-5">
                <div class="">
                    <span>Кино</span>
                    <hr class="hr" />
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_1.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Пираты карибского моря 5
                                </span>
                                <p class="text-center transition">
                                    С 28 мая в ДДК Дружба!
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_2.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Лига справедливости.
                                </span>
                                <p class="text-center transition">
                                    С 30 марта в ДДК Дружба!
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pad-5">
                <div class="">
                    <span>Театр</span>
                    <hr class="hr" />
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_3.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Мужик на коне, срубил бобла в азино три топора!
                                </span>
                                <p class="text-center transition">
                                    В драм театре 24 мая. Драмма, жизнь.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_4.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Белоруссианин!
                                </span>
                                <p class="text-center transition">
                                    Или как Лукошенко выращивал картоплю на марсе!
                                    Мировая Комедия только у нас в драм театре, 12 марта.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 pad-5">
                <div class="">
                    <span>Мероприятия, концерты.</span>
                    <hr class="hr" />
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_5.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Король лев!
                                </span>
                                <p class="text-center transition">
                                    Детское представление, в ДК Текстильщик, 10 апреля.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="item-lnk">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_6.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Напилася я пьяна..
                                </span>
                                <p class="text-center transition">
                                    В ДК Текстильщик 2 апреля, представления о ночной жизни трендовых львиц.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-normal color-orange">Новсоти и мероприятия</h3>
            <div class="col-lg-4 col-md-6 pad-5">
                <div class="">
                    <span>Горячие новости</span>
                    <hr class="hr" />
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_1.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Пираты карибского моря 5
                                </span>
                                <p class="text-center transition">
                                    С 28 мая в ДДК Дружба!
                                </p>
                            </div>

                        </a>
                    </div>
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_2.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Лига справедливости.
                                </span>
                                <p class="text-center transition">
                                    С 30 марта в ДДК Дружба!
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pad-5">
                <div class="">
                    <span>Новсоти спорта</span>
                    <hr class="hr" />
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_3.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Мужик на коне, срубил бобла в азино три топора!
                                </span>
                                <p class="text-center transition">
                                    В драм театре 24 мая. Драмма, жизнь.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_4.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Белоруссианин!
                                </span>
                                <p class="text-center transition">
                                    Или как Лукошенко выращивал картоплю на марсе!
                                    Мировая Комедия только у нас в драм театре, 12 марта.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 pad-5">
                <div class="">
                    <span>Планета молодых</span>
                    <hr class="hr" />
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_5.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Король лев!
                                </span>
                                <p class="text-center transition">
                                    Детское представление, в ДК Текстильщик, 10 апреля.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 pad-5">
                    <div class="nopadding col-item">
                        <a href="" class="item-lnk">
                            <img class="img-responsive transition" src="~/Content/citylife_template/materials/poster_6.jpg" alt="">
                            <div class="col-md-12">
                                <span class="text-center h5 txt-shadow transition">
                                    Напилася я пьяна..
                                </span>
                                <p class="text-center transition">
                                    В ДК Текстильщик 2 апреля, представления о ночной жизни трендовых львиц.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Action("Side", "Banner")
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/parallax.min.js"></script>    
}





