
@{
    ViewBag.Title = "EmailConfirm";
}

<h2>Почти готово</h2>
<div>
    На ваш адрес электронной почты высланно сообщение с подтверждением, следуйте указанным инструкциям в письме.
</div>
<a href="~/">на главную</a>

