@using CityLife.WebApp.Infrastructure.HtmlHelpers;

@{
    ViewBag.Title = "Заблокированные пользователи";
    string tableId = "table-user-list";
}


<div class="row heading-bg">
    <h3 class="txt-dark">@ViewBag.Title</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @if (Html.UserIsInRole("Root"))
                    {
                        <a href="@Url.Action("Register", "UsersAndGroups")" class="btn btn-info btn-lable-wrap left-label">
                            <span class="btn-label"><i class="fa fa-plus"></i> </span>
                            <span class="btn-text">Новый пользователь</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                        <i class="fa fa-users mr-20"></i>
                        Заблокированные пользователи
                    </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="@tableId" class="table table-hover display pb-30 dataTable  pb-30" role="grid">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Дата регистрации
                                        </th>
                                        <th>
                                            Дата  последней авторизации
                                        </th>
                                        <th>
                                            Статус
                                        </th>
                                        <th>
                                            Роль
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Дата регистрации
                                        </th>
                                        <th>
                                            Дата  последней авторизации
                                        </th>
                                        <th>
                                            Статус
                                        </th>
                                        <th>
                                            Роль
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<input type="hidden" value="@ViewBag.CurrentRole" id="_z" />

@section Scripts{


    <script>
        $(document).ready(function () {
            var dataTable = $('#@tableId').DataTable({
                'order': [[1, "desc"]],
                'iDisplayLength': 25,
                'bFilter': false,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': '/Administrator/UsersAndGroups/GetUsers?banCondition=false',//listUrl,
                    'data': {
                    }
                },
                "language": {
                    //   "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                    "url": "/Scripts/datatable/russian.json"


                },
                "columns": [
                        { "data": "ID", "autoWidth": true,},
                        { "data": "Email", "autoWidth": true },
                        { "data": "DateCreate", "autoWidth": true },
                        { "data": "DateLastAuth", "autoWidth": true },
                        { "data": "Status", "autoWidth": true },
                        { "data": "RoleName", "autoWidth": true },
                        { "data": "ID", "autoWidth": true },
                    ]
            });

            $('#@tableId').on('draw.dt', function () {
                InitEditBtnForTable(dataTable);
            });

            function InitEditBtnForTable(dataTable) {
                $('#@tableId tbody tr').each(function (i) {
                    var id = $(this).children('td:nth-child(1)').text();
                 

                    var userUnBan =
                        '<a href="/Administrator/UsersAndGroups/UnBan/' + id + '" class="btn btn-icon-only yellow">' +
                            '<button class="btn btn-success btn-icon-anim btn-square"><i class="fa fa-check"></i></button>' +
                        '</a>';


                    $(this).children('td:nth-child(7)').html(userUnBan);
                });
                isGet = false;
            }

            function toDateFromJson(src) {
                return new Date(parseInt(src.substr(6)));
            }

        });
    </script>
}